<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <nav class="navbar-fluid navbar-default navbar-fixed-top header-bar">
        <div class="container">
          <a class="navbar-brand" href="#/"> <%= title %> </a>
          <p class="navbar-right navbar-text" ng-hide="authenticated"><a href="#/login">Login</a> or <a href="#/register">Register</a></p>
          <p class="navbar-right navbar-text user-name" ng-show="authenticated" ng-controller="logoutController">
            <span class="glyphicon glyphicon-user"></span> {{current_user}}
            <a href="#/" ng-click="logout()">Logout</a>
          </p>
        </div>
      </nav>
    </header>
    <main>
      <div id="main" class="container-wrapper">
        <div class="col-sm-12" ng-view></div>
      </div>
    </main>
    <footer class="container-fluid" ng-class="appliedClass()"><span>&copy; 2015 Wayne Ho</span></footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="./javascripts/main.js"></script>
    <script src="./javascripts/controllers.js"></script>
    <script src="./javascripts/services.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

  </body>
</html>
