<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <title><%= title %></title>
  </head>
  <body>
    <div id="main" class="container">
      <nav class="navbar-fluid navbar-default navbar-fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#/"> <%= title %> </a>
          <p class="navbar-text"> New user? {{new_user}}</p>
          <p class="navbar-right navbar-text" ng-hide="authenticated"><a href="#/login">Login</a> or <a href="#/register">Register</a></p>
          <p class="navbar-right navbar-text" ng-show="authenticated" ng-controller="logoutController"><a href="#/" ng-click="logout()">Logout</a></p>
          <p class="navbar-right navbar-text" ng-show="authenticated" >Signed in as {{current_user}}</p>
        </div>
      </nav>
      <div class="col-md-8 col-md-offset-2">
        <div ng-view>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="./javascripts/main.js"></script>
    <script src="./javascripts/controllers.js"></script>
    <script src="./javascripts/services.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

  </body>
</html>
