<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body ng-app="TMCalc">
    <div id="main" class="container" ng-controller="mainController">
      <div class="col-md-8 col-md-offset-2">
        <h1><%= title %></h1>
        <form class="form-horizontal" ng-Submit="generate()">
          <div class="form-group">
            <label for="squatInput" class="col-sm-3 control-label">Squat</label>
            <div class="col-sm-7">
              <input required type="text" class="form-control text-center" id="squatInput" ng-model="mainLifts.squat"/>
            </div>
          </div>
          <div class="form-group">
            <label for="benchInput" class="col-sm-3 control-label">Bench Press</label>
            <div class="col-sm-7">
              <input required type="text" class="form-control text-center" id="benchInput" ng-model="mainLifts.bench"/>
            </div>
          </div>
          <div class="form-group">
            <label for="deadliftInput" class="col-sm-3 control-label">Deadlift</label>
            <div class="col-sm-7">
              <input required type="text" class="form-control text-center" id="deadliftInput" ng-model="mainLifts.deadlift"/>
            </div>
          </div>
          <div class="form-group">
            <label for="ohpInput" class="col-sm-3 control-label">Overhead Press</label>
            <div class="col-sm-7">
              <input required type="text" class="form-control text-center" id="ohpInput" ng-model="mainLifts.ohp"/>
            </div>
          </div>
          <div class="col-sm-7 col-sm-offset-3">
            <button type="submit" class="btn btn-default">Generate Program</button>
          </div>

        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="javascripts/TMCalc.js"></script>
  </body>
</html>
