<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<table class="table table-striped table-condensed" ng-repeat="day in program">
    <caption>{{day.name}}</caption>
    <thead>
        <tr>
            <th class="col-sm-3">Exercise</th>
            <th class="col-sm-3">Reps</th>
            <th class="col-sm-3">Weight(lbs)</th>
            <th class="col-sm-3">Difficulty</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="exercise in day.workout" >
            <td>{{exercise.name}}</td>
            <td>{{exercise.reps}}</td>
            <td>{{exercise.weight}}</td>
            <td uib-dropdown ng-show="exercise.difficulty">
                <button class="btn btn-sm" ng-class="appliedClass(exercise.difficulty)" uib-dropdown-toggle>
                    {{exercise.difficulty}} <span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu">
                    <li ng-click="exercise.difficulty = '-'"><a href="">-</a></li>
                    <li ng-click="exercise.difficulty = 'Easy'"><a href="">Easy</a></li>
                    <li ng-click="exercise.difficulty = 'Medium'"><a href="">Medium</a></li>
                    <li ng-click="exercise.difficulty = 'Hard'"><a href="">Hard</a></li>
                    <li ng-click="exercise.difficulty = 'Very Hard'"><a href="">Very Hard</a></li>
                    <li ng-click="exercise.difficulty = 'Failed'"><a href="">Failed</a></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<div class="btn-group pull-right">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-primary">Proceed to next week</button>
</div>








