<div class="col-sm-6 col-sm-offset-3 program-wrapper">
    <h2>Week {{display_week}}</h2>
    <table class="table table-striped table-condensed" ng-repeat="day in program">
        <caption>{{day.name}}</caption>
        <thead>
        <tr class="table-header">
            <th class="col-sm-3">Exercise</th>
            <th class="col-sm-3">Reps</th>
            <th class="col-sm-3">Weight(lbs)</th>
            <th class="col-sm-3">Difficulty</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="exercise in day.workout" >
            <td>{{exercise.name}}</td>
            <td>{{exercise.reps}}</td>
            <td>{{exercise.weight}} <span ng-class="exercise.symbol"></span></td>
            <td uib-dropdown ng-show="exercise.difficulty">
                <button class="btn btn-sm" ng-class="appliedClass(exercise.difficulty)" uib-dropdown-toggle>
                    {{exercise.difficulty}} <span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu">
                    <li ng-click="exercise.difficulty = '-'; changeSavedFlag()"><a href="">-</a></li>
                    <li ng-click="exercise.difficulty = 'Easy'; changeSavedFlag()"><a href="">Easy</a></li>
                    <li ng-click="exercise.difficulty = 'Medium'; changeSavedFlag()"><a href="">Medium</a></li>
                    <li ng-click="exercise.difficulty = 'Hard'; changeSavedFlag()"><a href="">Hard</a></li>
                    <li ng-click="exercise.difficulty = 'Very Hard'; changeSavedFlag()"><a href="">Very Hard</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group pull-right">
        <button class="btn btn-primary" ng-show="display_week > 1" ng-click="previousWeek()">Previous week</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-primary" ng-click="nextWeek()">Next week</button>
    </div>
</div>
<div class="col-sm-3 alert-box">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" ng-click="closeAlert($index)">{{alert.msg}}</uib-alert>
</div>






